*{
    margin: 0px;
    padding:0px;
}
.temp_color{
    color: azure;
}
#logopic{
    max-width:min-content;
    border-radius: 48%;
}


#logolink span{
    display: flex;
    justify-content: center;
    font-size: x-large;
    color:aliceblue ;
}

#logolink{
    
    display: flex;
    
    justify-content: center;
}



#categories-buttons li a{
    color: aliceblue;
}

#nav-dir{
    display: flex;
    justify-content: space-between;
}

#user-buttons {
    /* margin-left: 50%; */
    display: flex;
    justify-content:flex-end;
    margin-right: 50%;
    font-size:larger;
}

#user-buttons li a{
    color:aliceblue;
}
#navbarSupportedContent div {
    margin: 0rem 1rem;
    justify-content: center;

}
#buttons-container{
    display: flex;
    /* margin-top: 1.2rem; */
    align-items: center;
    justify-content: center;
}

#navbarSupportedContent div input{
    max-width:fit-content;
}

#user-buttons li a:hover{
    cursor: default;
}

#avatar{
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
    margin: rem;
}

.button{
    background-color: #212529; /* Green */
    color: white;
    text-decoration:none;
}
.button:hover{
    color: white;
    text-decoration:none;
}
#heading{
    background-color: rgb(209, 216, 253);
    color: #212529;
}

#cart-list {
    /* display:flex; */
    /* flex-wrap: wrap; */
    justify-content: center;
    background-color: rgb(209, 216, 253);
    padding: 2rem;
}
#cart-list li{
    margin: 1rem 7rem;
}
.remove{
    justify-self: right;
}
#item-quantity{
    max-width: 4rem;
}

.list-item{
    display: flex;
    background-color: aliceblue;
    align-items: center;
    marker: none;
}
.list-item div{
    margin: 1px 2.8rem;
}
.list-item div img{
    max-width: 50px;
    max-height: 50px;
}


.remove-it input{
    margin: 0rem 1rem;
}
.item-pic{
    border-radius: 10%;
}
.rack-item{
    margin: 1rem 2rem;
}